
@font-face {
  font-family: "Vazirmatn";
  src: url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/Vazirmatn[wght].woff2");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #dbdee8, #020617); /* پس‌زمینه یکنواخت */
  color: #02f3d7;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  overflow-x: hidden;
  font-weight: 900;
  font-size: 25px;
}

/* بخش اصلی */
.hero {
  margin: 0 auto;
  padding: 80px 20px;
  min-height: 100vh; /* کل ارتفاع صفحه */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.2s ease both;
   
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  font-size: 30px;
  margin-bottom: 12px;
  word-wrap: break-word; 
  max-width: 85%; 
}

#counter {
  opacity: .9;
  margin-bottom: 24px;
  font-size: 21px;
}

button {
  padding: 10px 20px;
  background: #f43f5e;
  border: none;
  color: #fff;
  border-radius: 999px;
  cursor: pointer;
  font-size: .95rem;
  transition: transform .2s, box-shadow .2s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 25px rgba(255, 72, 94, .25);
}

/* قلب‌های پس‌زمینه */
.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.heart {
  position: absolute;
  font-size: 22px;
  opacity: .4;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  from { transform: translateY(260%); } /* شروع پایین‌تر */
  to   { transform: translateY(-20%); }  /* بالا کمتر حرکت کنه */
}

/* مودال */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.55);
  backdrop-filter: blur(4px);
}

.modal-content {
  width: min(90%, 420px);
  background: #020617;
  border-radius: 24px;
  background: url('../image/darker_blue_rose_v2.png') center/cover no-repeat;
  padding: 28px;
  text-align: center;
  animation: pop .4s ease;
}

@keyframes pop {
  from { transform: scale(.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  opacity: .9;
  margin-bottom: 18px;
  line-height: 1.8;

}
